extends layout

block content
  div(class='wrapper')
    img(src='/images/field.png' width='793' height='363')
    canvas(id='signature-pad' width="793" height="363")
  br
  button(onclick='save()') save
